<h1>Cocktails#show</h1>

<p>
  <%= @cocktail.name %>
</p>

<% @cocktail.doses.each do |dose| %>
  <p> <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete%> </p>
<% end %>


<%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail) %>


<%= link_to 'Back to all cocktails', cocktails_path %>
